.navigation {
    background-color:rgb(233, 229, 229);

}
*{box-sizing: border-box;}
  
  body {font-family: Verdana, sans-serif;
    text-align: center;
  }
  .mySlides {display: none;}
  img{
    vertical-align: middle;
  }
  
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease ;
  }
  
  .numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px  12px;
    position: absolute;
    top: 0;
  }
  
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
  
  h2{
    text-align: center;
    font-family: cursive;
    margin-bottom: 50px;
  }
  
  
#mess{
  font-family: cursive;
  text-align: center;
  
}


#message{
  margin-top: 10px;
  margin-left: 70px;
  font-style: italic;
}

@media only screen and (max-width:600px){
  textarea{
    width:300px
  }
}

#buttton{
  margin-left: 30px;
  background-color: blue;
  color: white;
}
