{% extends "admin.html" %}



<body style="text-align: center; background-color: rgb(149, 145, 248);">
    {% block body %}

    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
        <br>
        <br>
        <br>

        <br>


        <h4><strong><u>Add New Announcement</u></strong> </h4>


        
        {% from "_formhelpers.html" import render_field %}
            <form method="POST"  action="" role="">
                <dl>
                    
                    {{ render_field(form.sender_name) }}
                    {{ render_field(form.title) }}
                    {{ render_field(form.announcement) }}
                    {{ render_field(form.department) }}
                    <small>YM for Youth Ministry,MM for Men Ministry,WM for Women Ministry, CM for Children Ministry and TM for Teen Ministry</small>
                </dl>

                <p><input style="background-color: rgb(185, 137, 230); color: white;" type="submit" value="Submit Post" ></p>
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}} </p>
            {% endif %}
    </div>

    {% endblock %}
    </body>



