<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8"> 
        <title>PRC, we are moving forward</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/navigation.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <meta name="viewport" content="width='device-width' initial-scale=1">
        <link rel="shortcut icon" href="{{url_for('static', filename='images/favorite.ico')}}">
        
    </head>
        

    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" id="navigate" href="/users/">User</a>
              <button class="navbar-toggler" id="toggleNav" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon white"></span>
              </button>
  
              
      
              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

                <li class="nav-item navbar-brand">
                <a class="nav-link"  id="logout" style="font-size: 15px;" href="/administration_page/">Logout <span class="sr-only">(current)</span></a>
                </li>

              <li class="nav-item dropdown navbar-brand">
                  <a style="color:white;  " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Static
                  </a>
                  <div id="dropdowncontainer" class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/sermons/" id="navigate">Messages</a>
                  <a class="dropdown-item" href="/devotional/" id="navigate">Devotional</a>
                   </div>
              </li>
      
              
              <li class="nav-item navbar-brand">
                <a class="nav-link"  id="navigate" href="/announcement/">Announcement <span class="sr-only">(current)</span></a>
                </li>
              
      
              <li class="nav-item navbar-brand">
                <a class="nav-link"  id="navigate" href="/testimony1/">Testimony <span class="sr-only">(current)</span></a>
                </li>
      
              
              
              <li class="nav-item dropdown navbar-brand">
              <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Books
              </a>
              <div id="dropdowncontainer" class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" id="navigate" href="/sundayschool1/">Sunday School</a>
                  <a class="dropdown-item" id="navigate" href="/marriagebooks/">Marriage</a>
                  <a class="dropdown-item" id="navigate" href="/prayerbooks/">Prayer</a>
                  <a class="dropdown-item" id="navigate" href="/healthbooks/">Health</a>
                  <a class="dropdown-item" id="navigate" href="/inspirationalbooks">Inspirational books</a>
                  <a class="dropdown-item" id="navigate" href="/spiritualbooks/">Spiritual Life</a>
              </div>
              </li>
      
             
          </ul>
          <form class="form-inline my-2 my-lg-0" id="button">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" id="button1" aria-label="Search" required>
              <button class="btn btn-outline-success my-2 my-sm-0" id="navigate" type="submit">Search</button>
          </form>  
        </div>  
      
        </nav>   


                {% block body %}

                {% endblock %}








  <script src=" {{ url_for('static', filename='js/jquery-3.5.1.slim.min.js')}} "></script>
  <script src=" {{ url_for('static', filename='js/bootstrap.js')}} "></script>
  <script src=" {{ url_for('static', filename='js/bootstrap.min.js')}} "></script>
  <script src=" {{ url_for('static', filename='js/popper.min.js')}} "></script>
  <script src=" {{ url_for('static', filename='js/navigation.js')}} "></script>
    </body>
</html>