<!DOCTYPE html> 
<html>
    <head>
      <meta charset="utf-8">
        <title>PRC, we are moving forward</title>
    </head>

    <body>
      
      {% for row in value %}
        <div class="messaging col-lg-10 col-md-12 col-sm-12 col-xs-12">

          <br>
          <iframe src="{{url_for( '{{row[1]}}' ) }}" frameborder="5" title="{{row[2]}}"  height="600px" width="100%"></iframe>
          <br>
            <h3><a href="/download/?id={{row[1]}}"><strong>Click here to download</strong></a></h3>
        </div>
      {% endfor %}
      
      

        
    </body>

    
    
</html>


