<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>PRC, we are moving forward</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <meta name="viewport" content="width='device-width' initial-scale=1">
        <link rel="shortcut icon" href="{{url_for('static', filename='images/download.ico')}}">
        
    </head>



    {% extends "navigation.html" %}

 
      {% block content  %}
      <body style="background-color: rgb(250, 250, 159);">
      
    <!-- <div id="intro">
      <h2 id="intro1"> <strong>Welcome to Pentecostal Revival Center, <br> Assemblies Of God </strong></h2>
    </div> -->
        
        <div class="home col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div  id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{url_for('static', filename='images/photo-1469228252629-cbe7cb7db2c8.jpeg')}}" alt="First slide">
        
                <div class="container">
                  <div class="carousel-caption ">
                    <h4></h4>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{url_for('static', filename='images/photo-1438232992991-995b7058bbb3.jpeg')}}" alt="Second slide">
        
                
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{url_for('static', filename='images/32541d75f645d0e28bd58b1017670236.jpg') }}" alt="Second slide">
                
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{url_for('static', filename='images/photo-1438232992991-995b7058bbb3.jpeg')}}" alt="Second slide">
        
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{url_for('static', filename='images/photo-1438232992991-995b7058bbb3.jpeg')}}" alt="Second slide">
        
                <!-- <div class="container">
                  <div class="carousel-caption">
                    <h4>Another example headline.</h4>
                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                  </div>
                </div> -->
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
        </div>



          <p id="welcome"><strong> Welcome to Pentecostal Revival Center, Assemblies Of God </strong></p> 
          
         <!-- Slideshow container -->
        

          <hr >

          <br >

          <div class="container" id="weekly">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="toopic">
                <h4> <u> <strong>Weekly Activities</strong> </u> </h4>
              </div>
            </div>

            <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 ">
              <ul style="list-style-type: none;
                          color: white;">
                <li><strong>Monday:</strong>  Departmental Meeting ..........  18:30  - 19:30</li>
                <li><strong>Tuesday:</strong> Ushers' Meeting and New Members Course ..........  18:30  - 19:30</li>
                <li><strong>Wednesday:</strong> Bible Studies ..........  18:30  - 20:00</li>
                <li><strong>Thursday:</strong> Sunday School Preparatory Class .......... 18:30  - 20:00</li>
                <li><strong>Friday:</strong> <ul style="list-style-type: none;">
                <li>Miracle Hour(Tarrying)..........  09:00  - 12:30</li>
                <li>Prayer  ..........  18:30  - 20:00</li>
                </ul></li>

                <li> <strong>Sunday:</strong> <ul style="list-style-type: none;">
                        <li>First Service ..........  07: 00 - 9:30</li> 
                        <li>Second Service .......... 09:30 - 11:00</li>
              </ul></li>
              </ul>
            </div>
          </div>
          </div>


          <br>
          <br>
           <hr>

           <br>
           <br>


         

            <div class="container leading" id="leaders">

                <h6 id="toopics" style="margin-top: 10px;"> <u>Honorable Ministers of the Gospel in the church</u> </h6>

              <!-- building a table for the leaders -->
               
              <div  class="row">
                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/rev_moses.jpg') }}" alt="Rev Dr Moses Asafo" style="width: 100%;">
                  
                    <h6><strong>Rev Dr Moses Asafo</strong></h6>
                    <p style="font-size: 16px;">Senior Pastor</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>

                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/rev_david.jpg') }}" alt="Rev David Kporha" style="width: 100%;">
                  
                    <h6><strong>Rev David Kporha</strong></h6>
                    <p style="font-size: 16px;">Associate Pastor</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>


                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/rev_jerome.jpg') }}" alt="Rev Jerome Agbodjive" style="width: 100%;">
                  
                    <h6><strong>Rev Jerome Agbodjive</strong></h6>
                    <p style="font-size: 16px;">Associate Pastor</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>

              </div>

              <div class="row">


                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/rev_nicho.jpg') }}" alt="Rev Nicholas Amoah" style="width: 100%;">
                
                    <h6><strong>Rev Nicholas Amoah</strong></h6>
                    <p style="font-size: 16px;">Associate Pastor</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>


                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/rev_remus.jpg') }}" alt="Rev Remus Nyatsikor" style="width: 100%;">
                  
                    <h6><strong>Rev Remus Nyatsikor</strong></h6>
                    <p style="font-size: 16px;">Associate Pastor</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>


                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/37482-woman-reading-bible-outside-1200.1200w.tn.jpg') }}" alt="Pas Alex Frimpong" style="width: 100%;">
                  
                    <h6><strong>Pas Alex Frimpong</strong></h6>
                    <p style="font-size: 16px;">Lay Pastor</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>

              </div>


              <div class="row">

                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/37482-woman-reading-bible-outside-1200.1200w.tn.jpg') }}" alt="Mama Christiana Tsormanya" style="width: 100%;">
                  
                    <h6><strong>Mama Christiana Tsormanya</strong></h6>
                    <p style="font-size: 16px;">Lay Pastor/Evangelist</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>


                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/37482-woman-reading-bible-outside-1200.1200w.tn.jpg') }}" alt="Pas Bertha Dorke" style="width: 100%;">
                  
                    <h6><strong>Pas Bertha Dorke</strong></h6>
                    <p style="font-size: 16px;">Lay Pastor</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>
              </div>
              



              <br>
              <br>

            </div>


              <hr>

            <div class="container leading" id="leaders">
              <br>
              <br>



                <h6 id="toopics"> <u>Distinguished Leaders of the Church</u> </h6>

              <!-- building a table for the leaders -->

              <div  class="row">
                

                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/mr_bright.jpg') }}" alt="Mr Bright Akligo" style="width: 100%;">
                  
                    <h6><strong>Mr Bright Akligo</strong></h6>
                    <p style="font-size: 16px;">Church Secretary</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>


                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/mama_vic.jpg') }}" alt="Mama Vic Adziman" style="width: 100%;">
                  
                    <h6><strong>Mama Victoria Adziman</strong></h6>
                    <p style="font-size: 16px;">Church Treasurer</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>

                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/francis.jpg') }}" alt="Mr Francis Sodzi" style="width: 100%;">

                    <h6><strong>Mr Francis Sodzi</strong></h6>
                    <p style="font-size: 16px;">Men Ministry President</p>
                    <p style="font-size: 16px;">Contact:</p>
                  
                </div>

              </div>
               
              <div  class="row">
               
                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/mama_enyo.jpg') }}" alt="Mama Enyo Kumaza" style="width: 100%;">
                  
                    <h6><strong>Mama Elizabeth Kumaza</strong></h6>
                    <p style="font-size: 16px;">Women Ministry President</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>


                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/prezo_atsu.jpg') }}" alt="Mr Atsu Attachey" style="width: 100%;">
                  
                    <h6><strong>Mr Adam Attachey </strong></h6>
                    <p style="font-size: 16px;">Youth Ministry President</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>

                <div class="leadership col-lg-3 col-md-6 col-sm-12 col-xs-12 " >
                  <img id="pastor" src="{{url_for('static', filename='images/sir_jerry.jpg') }}" alt="Sir Jerry Demorto" style="width: 100%;">
                  
                    <h6><strong>Mr Samson Jerry Demorto</strong></h6>
                    <p style="font-size: 16px;">Head Teacher of Teen and Children Min.</p>
                    <p style="font-size: 16px;">Contact:</p>
                    
                </div>

              </div>

              



            </div>



          </body>
              

    {% endblock %}
  
 

</html>
