<!DOCTYPE html> 
<html>


    {% extends "navigation.html" %}


    {% block content %}


    <body style="text-align: center; background-color: rgb(224, 250, 162);">
      
      

        
            <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                <br>
                <br>
                <br>
        
                <br>
        
        
                <h4><strong><u>Send A Prayer Request</u></strong> </h4>
        
        
                
                {% from "_formhelpers.html" import render_field %}
                    <form method="POST"  action="" role="">
                        <dl>
                            
                            {{ render_field(form.sender_name) }}
                            {{ render_field(form.contact) }}
                            {{ render_field(form.prayer) }}
                            
                        </dl>
        
                        <p><input style="background-color: rgb(185, 137, 230); color: white;" type="submit" value="Submit Post" ></p>
                    </form>
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{error}} </p>
                    {% endif %}
            </div>
        
          
        
    </body>

    {% endblock %}
    
</html>
