<!DOCTYPE html> 
<html>
    <head>
      <meta charset="utf-8">
      <title>PRC, we are moving forward</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/addiction.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
      <meta name="viewport" content="width='device-width' initial-scale=1">
      <link rel="shortcut icon" href="{{url_for('static', filename='images/download.ico')}}">
      
        
    </head>

    {% extends "navigation.html" %}

    <body>
      
      {% block content %}

      <br>
      <br>
      <br>
      <br>



      <h2><strong>Are you struggling with sin? </strong></h2>

      <br>
      <br>

      <div class="container col-lg-9 col-md-9 col-sm-9 col-xs-9">
     <!-- Slideshow container -->
      <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <div class="numbertext">1 / 5</div>
          <img src="{{url_for('static', filename='images/ephesians-5-3.jpg')}}" style="width:100%">
          <div class="text"></div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 5</div>
          <img src="{{url_for('static', filename='images/2-corinthians-7-1-2.jpg')}}" style="width:100%">
          <div class="text"></div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 5</div>
          <img src="{{url_for('static', filename='images/3283.jpg')}}" style="width:100%">
          <div class="text"></div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">4 / 5</div>
          <img src="{{url_for('static', filename='images/1578236101-SIN-CAN-DEFILE-MANY-BIBLE-QUOTES-HD-WALLPAPERS-HEBREWS-12-15-spreadjesus_org.jpg')}}" style="width:100%">
          <div class="text"></div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">5 / 5</div>
          <img src="{{url_for('static', filename='images/maxresdefault.jpg')}}" style="width:100%">
          <div class="text"></div>
        </div>

      </div>
      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" ></span>
        <span class="dot" ></span>
        <span class="dot" ></span>
        <span class="dot" ></span>
        <span class="dot" ></span>
      </div>

      </div>


      <div class="container">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
  
        <label for="message"  id="mess"> <h4>Send a message</h4>  </label>
        <br>
        <textarea name="message" id="message" cols="70" rows="5" placeholder="Kindly type your problem inside this box"></textarea>
        <br>
        <br>
  
        <button class="btn btn-outline-success my-2 my-sm-0" id="buttton" type="submit">Submit your message</button>
  
      </div>
    </div>

        {% block content %}
        
        
    </body>

    
</html>
