<!DOCTYPE html> 
<html>
    <head>
      <meta charset="utf-8">
        <title>PRC, we are moving forward</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/message.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <meta name="viewport" content="width='device-width' initial-scale=1">
        <link rel="shortcut icon" href="{{url_for('static', filename='images/download.ico')}}">
        
        
    </head>

    {% extends "navigation.html" %}

      
      {% block content %}

      <body style="background-color: rgb(255, 255, 175);">

      <br>
      <br>
      <br>

      <h4 style="font-style: cursive; text-align: center; color: rgb(24, 24, 85);"><strong><u>Get your Christian related books here</u></strong></h4>


      <div class="container ">
        <div class="row">
          {% for row in value %}
            

          <div class="messaging col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <a class="prayer" href="/viewbook/?id={{row[0]}}"><img style="height: 150px;width: 150px;" src="{{url_for('static', filename='images/mypdfs.jpeg') }}" alt= {{row[1]}}></a>
            <h6 style="text-align:center;">{{row[1]}}</h6>
          <br>
            
        </div>
  
          
        
          {%endfor%}
        </div>
      </div>
        
      </body>

      {% endblock %}
        

    
    
</html>
